.form_left {
	width:195px;
	margin:0 20px 0 16px;
	float:left;
}
.form_center {
	width:195px;
	padding:0 0px 0 0px;
	margin:0 0 0 42px;
	float:left;	
}
.form_right {
	width:195px;
	float:left;
	margin-left:63px;
}
.form_bottom {
	width:715px;
	margin-left:16px;
	clear:both;
}
#property_description {
	height:130px;
}
.inline {
	display:inline;
}
.radio {
	margin-right:8px;
}
.control-label {
	margin-right:10px;
}
#property_active_yes, #property_active_no, #property_doorman_yes, #property_doorman_no, #property_outdoor_yes, #property_outdoor_no {
	margin:10px 0px 0 -18px;
}